# Django Settings
DEBUG=1
DJANGO_SETTINGS_MODULE=sevy.settings
SECRET_KEY=your-super-secret-key-here

# Database Settings
POSTGRES_DB=sevy_db
POSTGRES_USER=sevy_user
POSTGRES_PASSWORD=sevy_pass
DATABASE_URL=postgres://sevy_user:sevy_pass@db:5432/sevy_db
